{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "importOrder": ["^@shared/(.*)$", "^@entities/(.*)$", "^@features/(.*)$", "^@widgets/(.*)$", "^@app$", "^@pages$", "^@styles$", "^@svg/(.*)$", "^@png/(.*)$", "^(.*\\.css$)", "^[./]"],
  "importOrderSortSpecifiers": true
}
