{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "importOrder": ["^@constants$", "^@app$", "^@interfaces$", "^@components$", "^@config$", "^@apis$", "^@modules", "^@store$", "^@pages$", "^@routes$", "^@hooks$", "^@utils$", "^@styles$", "^@svg/(.*)$", "^@png/(.*)$", "^(.*\\.css$)", "^[./]"],
  "importOrderSortSpecifiers": true
}
