{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "importOrder": ["^@app$", "^@components$", "^@constants$", "^@config$", "^@apis$", "^@auth$", "^@users$", "^@fields$", "^@form$", "^@store$", "^@pages$", "^@routes$", "^@hooks$", "^@utils$", "^@styles$", "^@svg/(.*)$", "^@png/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true
}
